{{#each rows as |rowData| }}
    {{#if hasBlock}}
        {{yield rowData}}
    {{else}}
        <tr>
            {{#each columnKeys as |column| }}
                <td>{{get rowData column}}</td>
            {{/each}}
        </tr>
    {{/if}}
{{/each}}
