{{#ember-scrollable
  scrollToX=scrollToX
  scrollToY=scrollToY
  onScroll=onScroll
as |scroll|
}}
  {{#each  (compute scroll.update rows) as |rowData| }}
    {{#if hasBlock}}
      {{yield rowData}}
    {{else}}
      <tr>
        {{#each columnKeys as |column| }}
          <td>{{get rowData column}}</td>
        {{/each}}
      </tr>
    {{/if}}
  {{/each}}
{{/ember-scrollable}}
