{{docs-hero
  logo='ember'
  slim-heading='Simple'
  strong-heading='Table'
  byline='Overview'}}

<div class='docs-container docs-md'>
  <section class='docs-section'>

    {{svg-jar "logo-horizontal" class='docs-dummy__header' width="50px" height="24px"}}
  </section>
</div>
