{{#simple-table tableData=model.tableData tableColumns=model.tableColumns as |tableRow| }}
    <tr>
        <td> {{ tableRow.foo }} </td>
        <td> {{ tableRow.baz }} </td>
    </tr>
{{/simple-table}}
