<h2>Simple Table</h2>

{{simple-table tableData=model.tableData tableColumns=model.tableColumns}}

<h2>Simple Table with {{yield}} for header and rows</h2>

{{#simple-table tableData=model.tableData tableColumns=model.tableColumns as |table|}}
    {{simple-table-header table=table}}

    {{simple-table-body table=table}}
{{/simple-table}}
